{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>terms and condetions</title>
</head>
<style type="text/css">

    .content{
       padding: 40px;
       padding-top: 170px;
    }


</style>
<body>

<div class="content">

    <p>By accessing, using, or viewing the Bliss Website (the "Site") or any of its services, functions or contents, You agree to each of the following terms, conditions and notices which govern Your of use of the Site and Your purchase of products and services on the Site (the “Terms of Use”).</p>

    <h4><b>1. use of the site</b></h4>
    <p>The Site is to be used by You for Your personal use only. Commercial uses of this Site are strictly prohibited unless prior written consent from Bliss Direct Inc. ("Bliss" or the "Company") has been granted. You agree that You will not use any robot, spider, other automatic device or manual process to monitor or copy the Site or any contents or information contained therein, unless You obtain prior express written consent from Bliss. You agree that You will not through any means interfere or attempt to interfere with the proper functioning of the Site. You agree that You will not provide to Bliss or to this Site: (i) any viruses, worms, time bombs, and/or other computer programming routines that are intended to damage, detrimentally interfere with, intercept or expropriate any system, data or information; and (ii) any content that may create liability for Bliss or cause Bliss to lose (in whole or in part) the services of our suppliers.</p>
    <h4><b>2. products and services</b></h4>
    <p>These products and services made available by Bliss and its suppliers on this Site are intended for personal use only. You may not assign, transfer, re-market, resell or otherwise dispose of, such products and services without obtaining Bliss's prior written consent. Bliss and its suppliers may cancel or modify purchases on the Site if it appears that they are the result of fraudulent or inappropriate activity or under other circumstances where it appears that the purchase contains or has resulted from a mistake or error. Other terms and conditions included on the Site, including return and shipping policies, may apply to Your purchase and are incorporated by reference herein.</p>


</div>
</body>
</html>
{% endblock content %}